<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("About")}</%block>
        </h1>
        <p>
            <%block name="pagecontent"><p>Els Apprentice training Hub(Elsat Hub)is an offshoot of <a href="https://elearningsolutions.co.ke" target="_blank" rel="noopener noreferrer" style="color:black; text-decoration: 3px underline #F3B216">Elearning Solutions (ELS) Limited.</a> The Hub offers self-paced and interactive courses on smart knacks for life; a must have in the world of work. It targets interns, those in the last year of college studies, graduate trainees, new employees, people already in the workplaces and those interested in upskilling. The courses are interactive in nature with group discussions, assignments and projects to be carried out by the participants. On successful completion of the course, a certificate will be generated.</p> </%block>
        </p>
    </section>
</main>
